*.pyc
.DS_Store

/conf/general.yml
/conf/general.yml.deployed
/conf/httpd.conf
/conf/httpd.conf.deployed
/web/down.html
/data/cache

.sass-cache
.venv
.static
.vagrant

# Data
data/gb-postcodes/*
NSUL_DEC_2022